{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Bus Reservation</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/home_style.css' %}">
</head>
<body>

  <section class="hero">
    <h2>Get your bus Reservation</h2>
    <h1>Find Best Bus For You!</h1>

    <form action="{% url 'findbus' %}" method="post" class="search-box">
      {% csrf_token %}
      <input type="text" name="source" placeholder="From..." required>
      <input type="text" name="destination" placeholder="To..." required>
      <input type="date" name="date" required>
      <button type="submit">Search</button>
    </form>
  </section>
  <footer class="footer">
  <div class="footer-container">
    <div class="footer-section brand">
      <img src="{% static 'images/logo1.png' %}" alt="Logo" width="200" height="70" class="mr-2">
      <p>Gatravel is all about booking ticket through online platform to make comfortable to the passenger.</p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-x-twitter"></i></a>
      </div>
    </div>

    <div class="footer-section">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">My Account</a></li>
        <li><a href="#">Reserve your ticket</a></li>
        <li><a href="#">Create your account</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Top Reserved Routes</h3>
      <ul>
        <li>Surigao City – Davao City</li>
        <li>Surigao City – Butuan City</li>
        <li>Surigao City – Cagayan de Oro City</li>
        <li>Surigao City – Tandag City</li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Support Links</h3>
      <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Help & Support Center</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
    </div>
  </div>
</footer>

</body>
</html>
{% endblock %}
